.env
credentials.json
_pycache_/

__pycache__/config.cpython-311.pyc
__pycache__/supabase_setup.cpython-311.pyc
cogs/__pycache__/recipe.cpython-312.pyc
services/__pycache__/calendar_service.cpython-312.pyc
services/__pycache__/confirmbutton.cpython-312.pyc
services/__pycache__/reroll.cpython-312.pyc
services/__pycache__/scheduled_plan.cpython-312.pyc
__pycache__\bot.cpython-312.pyc
services\__pycache__
cogs/__pycache__/recipe.cpython-312.pyc
cogs/__pycache__/recipe.cpython-312.pyc
services/__pycache__/calendar_service.cpython-312.pyc
services/__pycache__/confirmbutton.cpython-312.pyc
services/__pycache__/reroll.cpython-312.pyc
services/__pycache__/scheduled_plan.cpython-312.pyc
